---
// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
const breadcrumbList = currentUrlPath.split("/").slice(1);

// Pokud je cesta /posts/nebo /posts/1, necháme tam jen "posts"
if (breadcrumbList[0] === "posts") {
  // Smažeme vše za slovem "posts", protože stránkování už nepoužíváme
  breadcrumbList.splice(1); 
}

// Pokud je cesta /tags/[tag]/[page], smažeme číslo stránky (index 2)
if (breadcrumbList[0] === "tags" && breadcrumbList[2] && !isNaN(Number(breadcrumbList[2]))) {
  breadcrumbList.splice(2, 1);
}
---

<nav class="app-layout mt-8 mb-1" aria-label="breadcrumb">
  <ul
    class="font-light [&>li]:inline [&>li:not(:last-child)>a]:hover:opacity-100"
  >
    <li>
      <a href="/" class="opacity-80">home</a>
      <span aria-hidden="true" class="opacity-80">&raquo;</span>
    </li>
    {
      breadcrumbList.map((breadcrumb, index) =>
        index + 1 === breadcrumbList.length ? (
          <li>
            <span
              class:list={["opacity-75", { lowercase: index > 0 }]}
              aria-current="page"
            >
              {decodeURIComponent(breadcrumb)}
            </span>
          </li>
        ) : (
          <li>
            {/* Oprava linku pro vnořené cesty (např. home > tags > můj-tag) */}
            <a href={`/${breadcrumbList.slice(0, index + 1).join("/")}/`} class="opacity-70">
              {breadcrumb}
            </a>
            <span aria-hidden="true" class="opacity-80">&raquo;</span>
          </li>
        )
      )
    }
  </ul>
</nav>